.footer {
  background-color: #111;
  color: gray;
  display: flex;
  justify-content: center;
}
.footer__inner {
  width: 60%;
}
.footer__icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  margin: 5px 30px;
  color: #fff;
}

.footer__data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 10vh;
  width: 150%;
  cursor: pointer;
}
.footer__data ul li:hover{
    opacity: 0.7;
}
.footer__service {
  border: #fff 1px solid;
  width: 14%;
  margin: 4px 30px;
  cursor: pointer;
}
.footer__service p{
    margin-bottom: 0;
}
.copy-write {
  font-size: 12px;
  margin: 0 30px;
}
@media (max-width: 768px) {
 .footer__service {
  width:35%
}

}